.App {
  text-align: center;
  padding: 0px;
}

body {
  background-image: url("./img/cosmic.jpg");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
